/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo name style */
.logo {
    font-size: 30px;
    color: rgb(20, 2, 36);
    text-decoration: none;
    font-weight: 700;
}

/* navbar a styling */
.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}

/* hovering navbar a */
.navbar a:hover,
.navbar a.active {
    color: #9d71b6;
}

/* Home style */
.home {
    height: 100vh;
    background: linear-gradient(-90deg, #371c4b 65%, #fff 35%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}


/* add style of home image */
.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #371c4b;
    border-radius: 50%;
    margin-left: 80px;
    border: 25px solid #fff;
    flex-wrap: wrap;
    outline: 25px solid #371c4b;
}

.home-image img {
    position: relative;
    width: 400px;
    height: auto;
    top: -40px;
    /* left: -30px; */
    bottom: -280px;
    /* right: -30px; */
    bottom: -40px;
    border-radius: 50%;
    /* overflow: hidden; */
}





/* style home-content */
.home-content {
    min-width: 600px;
    color: #fff;
    text-align: right;
}

/*  home-content h1 style */
.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
}

/*  home-content h3 style*/
.home-content h3 {
    font-size: 40px;
    color: #9d71b6;
    -webkit-text-stroke: -5px #fff;
    background-image: linear-gradient(plum, plum);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -500px 0;
    animate: animateText 6s linear infinite;
}

@keyframes animateText {

    0%,
    95%,
    100% {
        background-position: -500px 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

/* home-content p style */
.home-content p {
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;

}

/*  .home-sci style*/
.home-sci {
    margin: 25px 0 40px;
}

/* .home-sci a style */
.home-sci a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: plum;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}

/* .home-sci a:hover */
.home-sci a:hover {
    background: plum;
    color: #fff;
    border-color: plum;
    box-shadow: 0 0 10px plum;
}

/*  .btn style*/
.btn {
    padding: 12px 35px;
    background-color: plum;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px plum;
}